<configuration>
	<appender name="mask"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout
				class="com.logger.maskingsensitivedata.util.MaskingPatternLayout">
				<maskPattern>\"userId\"\s*:\s*\"(.*?)\"</maskPattern>
				<maskPattern>\"password\"\s*:\s*\"(.*?)\"</maskPattern>
				<maskPattern>\"street\"\s*:\s*\"(.*?)\"</maskPattern>
				<maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern>
				<maskPattern>(\w+@\w+\.\w+)</maskPattern>
				<pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException
				</pattern>
			</layout>
		</encoder>
	</appender>
	<root level = "INFO">
		<appender-ref ref = "mask"></appender-ref> 
	</root>
</configuration>